*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.def-with{
    width: 100%;
    margin: auto;
}


:root { 
    --primary-color: #007bff;
    --secondary-color: #dfb600;
    --third-color: #212121;
    --background-color: rgb(255, 255, 255);
    --shadow-color: rgba (0, 0, 0, 0.1);
    --button-color: #dfb600;
    --button-front-color: #ffffff;
    --success-color: #28a745;
    --error-color: #dc3545;
}


body {
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    color: var(--third-color);
}   

/* Header Section CSS */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: var(--button-front-color);
    color: var(--background-color);
    box-shadow: 0 2px 5px var(--shadow-color);
    position: sticky;
    top : 0;
    z-index: 99999;
}


.logo{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primary-color);
}

.nav{
    display: flex;
    gap: 20px;
}
.nav a{
    text-decoration: none;
    color: var(--third-color);
    padding: 15px 15px;
    font-size: 18px;
    border-radius: 3px;
    transition: background-color 0.3s;
    transition: color .3s ease-in-out;
    transition: background-color .2s ease-in-out;

}

.nav a:hover{
    background-color: var(--secondary-color);
    color: var(--background-color);
}
/* Header Section CSS End */


/* Hero Section CSS */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 80px 20px;

    background-color: var(--primary-color);
    gap: 20px;
    color: var(--third-color);
}

.hero-content {
    max-width: 600px;
}

.hero-content h1{
    color: var(--button-front-color);
    font-size: 30px;
}

.hero-content p{
    margin: 20px 0;
    color: var(--button-front-color);
    margin-bottom:20px ;
}

.btn{
    background-color: var(--button-color);
    text-decoration: none;
    padding: 15px 30px;
    color: var(--button-front-color);
    border-radius: 3px;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.btn:hover{
    background-color: var(--button-front-color);
    color: var(--third-color);
}

.hero-img{
    width: 100%;
    max-width: 350px;
    height: auto;
}
/* Hero Section CSS End */


/* Features Section CSS  */

.features{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 60px 20px;

    flex-wrap: wrap;
    background-color: var(--background-color);
    color: var(--third-color);
}

.feature-box {
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 2px 10px var(--third-color);
    transition:all 0.3s ease-in-out;
}

.feature-box:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 15px var(--third-color);
}

.feature-box h3{
    font-size: 20px;
    margin: 5px 0;
    color: rgb(255, 255, 255);
}

.feature-box p{
    color: rgb(245, 245, 245);
}
/* Features Section CSS  End */


/* Pricing Section CSS */

.pricing{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px 30px;
    text-align: center;
    background-color: var(--background-color);
    color: var(--third-color);
}

.plan {
    background: var(--secondary-color);
    padding: 20px;
    text-align: center;
    border-radius: 3px;
    width: 350px;
    box-shadow: 0 2px 10px var(--third-color);
    transition:all 0.3s ease-in-out;
}

.plan:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 15px var(--third-color);
}

.plan h3{
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--primary-color);
    padding: 8px 5px;
    background-color: whitesmoke;
    border-radius: 50px;
}
.plan p.price{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px0;
}

.features-list{
    text-align: left;
    margin-top: 15px;
}

.features-list p{
    font-size: 15px;
    margin: 8px 0;
    display: flex;
    gap: 8px;
    align-items: center;

}
.text-green{
    color: var(--primary-color);
}
.text-red{
    color: var(--error-color);
}

/* Pricing Section CSS End*/


/* Footer Section CSS */

.footer{
    padding: 20px 20px;
    background-color: var(--primary-color);
    color: var(--button-front-color);
    text-align: center
}
.footer p{
    padding-top:5px;;
}

/* Footer Section CSS End*/


/* Responsive */

@media (max-width: 768px){
    .header{
        flex-direction: column;
        text-align: center;
    }
    .hero{
        flex-direction: column-reverse;
        text-align: center;
        padding: 40px 40px;
    }
    .features{
        grid-template-columns: repeat(1, 1fr);
    }

    .pricing{
        flex-direction: column;
        align-items: center;
    }
    .pricing .plan{
        width: 100%;
    }
    .features-list p{
        justify-content: center;
    }
    .footer{
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
    }
}

